<div class="container">
  <h1 class="display-4">Weather App</h1>
  <div class="card">
    <div class="card-body">
      <div class="card-inputs">
        <div class="form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" [(ngModel)]="latitude">
        </div>
        <div class="form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" [(ngModel)]="longitude">
        </div>
        <button class="btn btn-primary" id="search" (click)="getWeather()"
          [disabled]="!latitude || !longitude">Search</button>
      </div>
      <br>
      <p class="card-text">Temperature:
        <span class="font-weight-bold" *ngIf="temperature">{{ temperature }}°F</span>
        <span class="font-weight-bold" *ngIf="!temperature">--</span>
      <p class="card-text">Humidity:
        <span class="font-weight-bold" *ngIf="humidity">{{ humidity }}%</span>
        <span class="font-weight-bold" *ngIf="!humidity">--</span>
      </p>
      <p class="card-text">Wind Speed:
        <span class="font-weight-bold" *ngIf="windSpeed">{{ windSpeed }} Mph</span>
        <span class="font-weight-bold" *ngIf="!windSpeed">--</span>
      </p>
      <p class="card-text">Precipitation:
        <span class="font-weight-bold" *ngIf="precipitation">{{ precipitation }} In</span>
        <span class="font-weight-bold" *ngIf="!precipitation">--</span>
      </p>
    </div>
  </div>
</div>